<?xml version="1.0" encoding="utf-8"?>

<configuration>

  <appSettings>
  </appSettings>

  <connectionStrings>
    <add name ="Tangram:RedisConnectionString" connectionString="localhost" />
    <add name ="Tangram:SqlConnectionString" connectionString="Data Source=localhost;Initial Catalog=EventSourcing;Integrated Security=True;" />
  </connectionStrings>

</configuration>